@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 239 246 255;
  --tw-color-primary-100: 219 234 254;
  --tw-color-primary-200: 191 219 254;
  --tw-color-primary-300: 147 197 253;
  --tw-color-primary-400: 96 165 250;
  --tw-color-primary-500: 59 130 246;
  --tw-color-primary-600: 37 99 235;
  --tw-color-primary-700: 29 78 216;
  --tw-color-primary-800: 30 64 175;
  --tw-color-primary-900: 30 58 138;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #eff6ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #dbeafe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bfdbfe */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #93c5fd */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #60a5fa */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #3b82f6 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #2563eb */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #1d4ed8 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #1e40af */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #1e3a8a */
  /* #endregion  /**======== Primary Color =========== */

  --dark-bg-900: #111827;
  --dark-bg-800: #1f2937;
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

.image-box-shadow {
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5);
}

.wavesDark {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath3707%26quot%3b)' fill='none'%3e%3ccircle r='23.98' cx='1021.59' cy='346.97' fill='url(%23SvgjsLinearGradient3708)'%3e%3c/circle%3e%3ccircle r='52.545' cx='919.8' cy='411.66' fill='url(%23SvgjsLinearGradient3709)'%3e%3c/circle%3e%3ccircle r='32.995' cx='203.37' cy='463.18' fill='url(%23SvgjsLinearGradient3710)'%3e%3c/circle%3e%3ccircle r='14.165' cx='268.71' cy='216.31' fill='rgba(41%2c 44%2c 119%2c 0.31)'%3e%3c/circle%3e%3ccircle r='26.5' cx='781.9' cy='515.75' fill='url(%23SvgjsLinearGradient3711)'%3e%3c/circle%3e%3ccircle r='23.9' cx='66.96' cy='159.38' fill='url(%23SvgjsLinearGradient3712)'%3e%3c/circle%3e%3ccircle r='54.155' cx='292.54' cy='223.64' fill='url(%23SvgjsLinearGradient3713)'%3e%3c/circle%3e%3ccircle r='22.03' cx='1182.01' cy='374.72' fill='rgba(41%2c 44%2c 119%2c 0.31)'%3e%3c/circle%3e%3ccircle r='18.81' cx='1250.98' cy='466.59' fill='url(%23SvgjsLinearGradient3714)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath3707'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='973.63' y1='346.97' x2='1069.55' y2='346.97' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3708'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(79%2c 68%2c 132%2c 0.13)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='814.7099999999999' y1='411.6600000000001' x2='1024.8899999999999' y2='411.6600000000001' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3709'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(126%2c 98%2c 134%2c 0.17)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='137.38' y1='463.18' x2='269.36' y2='463.18' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3710'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(79%2c 68%2c 132%2c 0.13)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='728.9' y1='515.75' x2='834.9' y2='515.75' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3711'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(126%2c 98%2c 134%2c 0.17)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='19.159999999999997' y1='159.38' x2='114.75999999999999' y2='159.38' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3712'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(70%2c 74%2c 143%2c 0.18)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='184.23000000000002' y1='223.64' x2='400.85' y2='223.64' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3713'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(79%2c 68%2c 132%2c 0.13)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1213.3600000000001' y1='466.59' x2='1288.6000000000001' y2='466.59' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3714'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(70%2c 74%2c 143%2c 0.18)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.wavesLight {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1206%26quot%3b)' fill='none'%3e%3crect width='348' height='348' clip-path='url(%26quot%3b%23SvgjsClipPath1207%26quot%3b)' x='926.55' y='-62.06' fill='url(%23SvgjsPattern1208)' transform='rotate(295.35%2c 1100.55%2c 111.94)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='934.62' cy='79.64' fill='rgba(231%2c 54%2c 53%2c 0.43)'%3e%3c/circle%3e%3ccircle r='58.35095063799097' cx='1107.13' cy='195.25' fill='rgba(211%2c 183%2c 20%2c 0.35)'%3e%3c/circle%3e%3crect width='108' height='108' clip-path='url(%26quot%3b%23SvgjsClipPath1209%26quot%3b)' x='469.26' y='121.78' fill='url(%23SvgjsPattern1210)' transform='rotate(85.27%2c 523.26%2c 175.78)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='160.89' cy='46.91' stroke='rgba(211%2c 183%2c 20%2c 0.35)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3cpath d='M520.89 546.87L532.92 551.26 531.28 563.96 543.31 568.34 541.67 581.04 553.7 585.43 552.07 598.13' stroke='rgba(3%2c 123%2c 11%2c 0.28)' stroke-width='1.29'%3e%3c/path%3e%3cpath d='M989.12 539.31a5.6 5.6 0 1 0-8.84-6.88 5.6 5.6 0 1 0 8.84 6.88zM976.49 529.49a5.6 5.6 0 1 0-8.84-6.87 5.6 5.6 0 1 0 8.84 6.87zM963.86 519.67a5.6 5.6 0 1 0-8.85-6.87 5.6 5.6 0 1 0 8.85 6.87zM951.22 509.85a5.6 5.6 0 1 0-8.84-6.87 5.6 5.6 0 1 0 8.84 6.87z' fill='rgba(231%2c 54%2c 53%2c 0.43)'%3e%3c/path%3e%3crect width='192' height='192' clip-path='url(%26quot%3b%23SvgjsClipPath1211%26quot%3b)' x='244.19' y='-15.56' fill='url(%23SvgjsPattern1212)' transform='rotate(279.05%2c 340.19%2c 80.44)'%3e%3c/rect%3e%3crect width='360' height='360' clip-path='url(%26quot%3b%23SvgjsClipPath1213%26quot%3b)' x='209.85' y='-94.3' fill='url(%23SvgjsPattern1214)' transform='rotate(282.22%2c 389.85%2c 85.7)'%3e%3c/rect%3e%3cpath d='M972.12 413.88a5.6 5.6 0 1 0-9.63 5.71 5.6 5.6 0 1 0 9.63-5.71zM958.36 422.03a5.6 5.6 0 1 0-9.64 5.71 5.6 5.6 0 1 0 9.64-5.71zM944.59 430.19a5.6 5.6 0 1 0-9.63 5.71 5.6 5.6 0 1 0 9.63-5.71zM930.83 438.35a5.6 5.6 0 1 0-9.64 5.71 5.6 5.6 0 1 0 9.64-5.71zM991.5 383.8a5.6 5.6 0 1 0-9.64 5.71 5.6 5.6 0 1 0 9.64-5.71zM977.73 391.95a5.6 5.6 0 1 0-9.63 5.71 5.6 5.6 0 1 0 9.63-5.71zM963.97 400.11a5.6 5.6 0 1 0-9.64 5.71 5.6 5.6 0 1 0 9.64-5.71zM950.2 408.27a5.6 5.6 0 1 0-9.63 5.71 5.6 5.6 0 1 0 9.63-5.71z' fill='rgba(231%2c 54%2c 53%2c 0.43)'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1215%26quot%3b)' x='1365.78' y='404.42' fill='url(%23SvgjsPattern1216)' transform='rotate(157.3%2c 1395.78%2c 434.42)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='1142.65' cy='427.12' fill='rgba(231%2c 54%2c 53%2c 0.43)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1206'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1208'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(231%2c 54%2c 53%2c 0.43)' fill='none' stroke-width='1.62'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1207'%3e%3ccircle r='87' cx='1100.55' cy='111.94'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1210'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(231%2c 54%2c 53%2c 0.43)' fill='none' stroke-width='1.07'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1209'%3e%3ccircle r='27' cx='523.26' cy='175.78'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1212'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(3%2c 123%2c 11%2c 0.28)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1211'%3e%3ccircle r='48' cx='340.19' cy='80.44'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='360' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1214'%3e%3crect width='360' height='3' x='0' y='0' fill='rgba(231%2c 54%2c 53%2c 0.43)'%3e%3c/rect%3e%3crect width='360' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1213'%3e%3ccircle r='90' cx='389.85' cy='85.7'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='60' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1216'%3e%3crect width='60' height='3' x='0' y='0' fill='rgba(3%2c 123%2c 11%2c 0.28)'%3e%3c/rect%3e%3crect width='60' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1215'%3e%3ccircle r='15' cx='1395.78' cy='434.42'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
